@use "styles/basics/_vars.scss" as *;

$header-height-desktop: 4em;
$header-height-mobile: 3em;

header.header {
   background: var(--navbar-bg-color, grey);
   padding: 0.5em;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   height: $header-height-desktop;
   z-index: 100;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;

   @media (max-width: $mobile) {
      height: $header-height-mobile;

   }
}

main.main {
   margin-top: $header-height-desktop;

   @media (max-width: $mobile) {
      margin-top: $header-height-mobile;
   }

   @supports (-webkit-text-stroke: 1px var(--bg-color)) {
      h1 {
         // -webkit-text-stroke: 1px var(--bg-color);
         // -webkit-text-fill-color: var(--text-color);
         color: var(--header-color);
         text-shadow:
            5px 5px 0 var(--bg-color),
            -1px -1px 0 var(--bg-color),
            1px -1px 0 var(--bg-color),
            -1px 1px 0 var(--bg-color),
            1px 1px 0 var(--bg-color);
      }
   }
}

footer.footer {
   background: var(--navbar-bg-color, grey);
   padding: 0.5em;
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   height: $header-height-desktop;
   z-index: 100;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;

   @media (max-width: $mobile) {
      height: $header-height-mobile;

   }
}