@use '../basics/vars.scss' as *;

footer.footer {
   background: var(--bars-color);
   height: var(--footer-height);
   padding: 0.5em;
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: 100;
   justify-content: space-between;
   align-items: center;

   @media (max-width: $mobile) {
      bottom: unset;
      top: 0;
   }

   .media {
      flex: 1;
      width: 100%;
      flex-direction: row;
      justify-content: space-evenly;

      a {
         align-items: center;
         justify-content: center;
      }

      svg {
         height: 30px;
         width: 30px;
      }
   }
}