header.header {
   background: var(--bars-color);
   padding: 0.5em 1em;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;

   .nav-bar {
      flex: 1;
   }
}