
header.header {
   background: var(--navbar-bg-color);
   padding: 1em;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   height: var(--header-height);
   z-index: 100;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;

   .nav-bar{
   flex: 1;
   }

}