@use "styles/basics/vars.scss" as *;

main.main {
   height: calc(100% - var(--header-height) - var(--footer-height));
   margin-top: var(--header-height);
   margin-bottom: var(--footer-height);
   background: var(--main-color);

   section {
      overflow-y: auto;
   }

   >h1 {
      margin-top: 0.25em;
      text-align: center;
      background: linear-gradient(45deg,
            #264653,
            #8ecae6,
            #219ebc,
            #a8dadc,
            #f1faee);
      background-size: 300% 300%;
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      animation: gradientFlow 8s ease infinite;
   }
}