main.main {
   min-height: 0;
   overflow-y: auto;
   background: var(--main-color);

   >h1 {
      margin-top: 0.25em;
      text-align: center;
      color: var(--txt-color);
      animation: gradientFlow 8s ease infinite;
   }
}