@use '../basics/vars.scss' as *;

.home {
   .home-section {
      background-image:
         linear-gradient(#26465390 50%,
            #26465355 75%,
            #26465310),
         url('/me1.jpg');
      background-size: cover;
      background-position: bottom;
      height: 100%;
      width: 100%;
      text-align: center;

      h2 {
         color: $c3;
      }

      h4 {
         color: $c4;
      }

      p {
         color: white;
      }
   }
}