@use '../basics/vars.scss' as *;

@keyframes gradientFlow {
   0% {
      background-position: 0% 50%;
   }

   50% {
      background-position: 100% 50%;
   }

   100% {
      background-position: 0% 50%;
   }
}

.home {
   .home-section {
      background-image: var(--bg-home);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
      text-align: center;
      padding: 1em;
      font-family: 'JetBrains Mono', monospace;
      letter-spacing: -0.5px;
      max-width: 600px;
      margin: 0 auto;
      font-weight: 700;
      gap: 2em;
      font-size: 1.2em;

      h1,
      h2 {
         color: $white;
      }

      h3 {
         background: linear-gradient(red, green, blue);
         -webkit-background-clip: text;
         background-clip: text;
         color: transparent;
         -webkit-text-stroke: 1px white;
         text-shadow:
            2px 2px 4px rgba(0, 0, 0, 0.5),
            -1px -1px 0 rgba(255, 255, 255, 0.3);
         font-weight: 800;
      }

      p {
         color: white;
         margin: auto;
         text-align: left;
         max-width: 75%;
      }


      .rocket {
         display: inline-block;
         margin-left: 4px;
      }

      @media (max-width: $mobile) {
         background-size: cover;
         gap: 1em;
         padding: 0.5em;
      }
   }
}