@use '../basics/vars.scss' as *;

button.hamberger {

   svg {
      height: 48px;
   }

   path {
      stroke: var(--navbar-text-color);
      transition: all .5s ease-in-out;
   }

   &.open {

      .top_bar,
      .bottom_bar {
         stroke-dashoffset: -650px;
      }

      .middle_bar {
         stroke-dasharray: 0px 220px;
         stroke-dashoffset: -120px;
      }
   }
}