@use '../basics/vars.scss' as *;

nav.nav-bar {
   // background: inherit;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   // color: var(--navbar-text-color);
}